<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Finance">
    <test name="Day 1">
        <classes>
            <class name="FinanceTest"/>
        </classes>
    </test>
    <test name="Day 2">
        <classes>
            <class name="FinanceTest"/>
        </classes>
    </test>
</suite>